# Maven build folder
target/

# Maven wrapper jar (optional, usually included in repo)
.mvn/wrapper/maven-wrapper.jar

# IDE / Editor files
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Eclipse / STS
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Local environment files
.env
